<div id="wa-app">
    <div class="sidebar left200px">
        <div class="block">
            <ul class="menu-v with-icons" data-id="shop-actions">
                <li data-id="features">
                    <a href="#/features/"><i class="icon16 view-thumb-list"></i><b>[`Features`]</b></a>
                </li>
                <li data-id="tags">
                    <a href="#/tags/"><i class="icon16 tags"></i><b>[`Tags`]</b></a>
                </li>
                <li data-id="stocks">
                    <a href="#/stocks/"><i class="icon16 status-yellow"></i><b>[`Stocks`]</b></a>
                </li>
                <li data-id="services">
                    <a href="#/services/"><i class="icon16 attachment"></i><b>[`Services`]</b></a>
                </li>
                <li data-id="checkout">
                    <a href="#/checkout/"><i class="icon16 cart"></i><b>[`Checkout`]</b></a>
                </li>
                <li data-id="workflow">
                    <a href="#/workflow/"><i class="icon16 ss flag-green"></i><b>[`Order states`]</b></a>
                </li>
                <li data-id="promos">
                    <a href="#/promos/"><i class="icon16 picture"></i><b>[`Promos`]</b></a>
                </li>
                <li data-id="themes">
                    <a href="#/themes/"><i class="icon16 design"></i><b>[`Themes`]</b></a>
                </li>
                <li data-id="autotranslate">
                    <a href="#/autotranslate/"><i class="icon16 settings"></i><b>[`Autotranslate`]</b></a>
                </li>
                <li data-id="export">
                    <a href="#/export/"><i class="icon16 export"></i><b>[`Export`]</b></a>
                </li>
                <hr>
                <li data-id="settings">
                    <a href="#/settings/"><i class="icon16 settings"></i><b>[`Settings`]</b></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content left200px" id="c-core">
        <div class="block not-padded c-core-content" id="content">
            <div class="block">
                <h1 class="wa-page-heading">[`Loading...`]</h1>
            </div>
        </div>
    </div>
</div>