<h1>{if empty($form)}[`Untitled form`]{else}{$form.name|escape}{/if}<span class="float-right grey">ID: {$id}</span></h1>

{if multiformHelper::hasFullFormAccess($form)}{$has_access = 1}{else}{$has_access = 0}{/if}

<ul class="tabs page-tabs">
    {if $has_access}
        <li class="tab s-page-edit"><a href="#/page/edit/" title="[`Fields`]">[`Fields`]</a></li>
        <li class="tab s-page-settings"><a href="#/page/settings/" title="[`Form settings`]">[`Form settings`]</a></li>
        <li class="tab s-page-conditions"><a href="#/page/conditions/" title="[`Conditions`]">[`Conditions`]</a></li>
    {/if}
    {if $has_access || multiformHelper::recordAccess($form)}
        <li class="tab s-page-records"><a href="#/page/records/" title="[`Records`]">[`Records`]{if !empty($form.unviewed_records)} <span class="indicator">{$form.unviewed_records|escape}</span>{/if}</a></li>
    {/if}
    {if $has_access}
        {if multiformHelper::notificationsAccess() > 0}
            <li class="tab s-page-notifications{if multiformHelper::notificationsAccess() < 3} inactive-tab{/if}"><a href="#/page/notifications/" title="[`Notifications`]">[`Notifications`]</a></li>
        {/if}
        {*<li class="tab s-page-actions"><a href="#/page/actions/" title="[`Actions`]">[`Actions`]</a></li>*}
        <li class="tab s-page-share"><a href="#/page/share/" title="[`Share`]">[`Share`]</a></li>
    {/if}
    {if $wa->user()->getRights('multiform', 'appearance') || $wa->user()->isAdmin()}
        <li class="tab s-page-appearance"><a href="#/page/appearance/" title="[`Appearance`]">[`Appearance`]</a></li>
    {/if}
    <li class="no-tab"><a href="{$wa->getUrl('multiform/frontend', ['url' => $form.hash, 'domain' => $domain])}" target="_blank" title="[`View form`]">[`View form`] <i class="icon16 new-window"></i></a></li>
</ul>
<div class="page-tab-content clearfix"></div>

<script>
    $(function() {
       $.form.init({
           currentForm: {$id}
       });
    });
</script>