
.icon-th:before { content: '\e800'; } /* '' */
.icon-user-1:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-th-1:before { content: '\e803'; } /* '' */
.icon-th-list-1:before { content: '\e804'; } /* '' */
.icon-left-1:before { content: '\e805'; } /* '' */
.icon-right-1:before { content: '\e806'; } /* '' */
.icon-flickr:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-attention:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-ok-2:before { content: '\e80c'; } /* '' */
.icon-cancel-circle:before { content: '\e80d'; } /* '' */
.icon-cross97:before { content: '\e80e'; } /* '' */
.icon-batteryempty:before { content: '\e80f'; } /* '' */
.icon-batteryfull:before { content: '\e810'; } /* '' */
.icon-basket:before { content: '\e811'; } /* '' */
.icon-basket-alt:before { content: '\e812'; } /* '' */
.icon-plus-lg:before { content: '\e813'; } /* '' */
.icon-minus-lg:before { content: '\e814'; } /* '' */
.icon-reply-rev:before { content: '\e815'; } /* '' */
.icon-blogicon:before { content: '\e816'; } /* '' */
.icon-heart-1:before { content: '\e817'; } /* '' */
.icon-zoom-in:before { content: '\e818'; } /* '' */
.icon-spin6:before { content: '\e819'; } /* '' */
.icon-asterisk:before { content: '\e81a'; } /* '' */
.icon-phone:before { content: '\e81b'; } /* '' */
.icon-logout:before { content: '\e81c'; } /* '' */
.icon-login:before { content: '\e81d'; } /* '' */
.icon-attention-circled:before { content: '\e81e'; } /* '' */
.icon-arrows-cw:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */
.icon-wallet:before { content: '\e821'; } /* '' */
.icon-camera:before { content: '\e822'; } /* '' */
.icon-search:before { content: '\e823'; } /* '' */
.icon-tags:before { content: '\e824'; } /* '' */
.icon-folder:before { content: '\e825'; } /* '' */
.icon-calendar:before { content: '\e826'; } /* '' */
.icon-calendar-inv:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-fullscreen:before { content: '\e829'; } /* '' */
.icon-rss:before { content: '\e82a'; } /* '' */
.icon-help-circled:before { content: '\e82b'; } /* '' */
.icon-email:before { content: '\e82c'; } /* '' */
.icon-batterysec:before { content: '\e82d'; } /* '' */
.icon-batteryone:before { content: '\e82e'; } /* '' */
.icon-eye:before { content: '\e82f'; } /* '' */
.icon-eye-off:before { content: '\e830'; } /* '' */
.icon-thumbs-up:before { content: '\e831'; } /* '' */
.icon-pin:before { content: '\e832'; } /* '' */
.icon-cw:before { content: '\e833'; } /* '' */
.icon-menu:before { content: '\e834'; } /* '' */
.icon-plus:before { content: '\e835'; } /* '' */
.icon-ok:before { content: '\e836'; } /* '' */
.icon-sliders-1:before { content: '\e837'; } /* '' */
.icon-shopicon:before { content: '\e838'; } /* '' */
.icon-siteicon:before { content: '\e839'; } /* '' */
.icon-check-1:before { content: '\e83a'; } /* '' */
.icon-link:before { content: '\e83b'; } /* '' */
.icon-chart-bar:before { content: '\e83c'; } /* '' */
.icon-facebook:before { content: '\e83d'; } /* '' */
.icon-vk:before { content: '\e83e'; } /* '' */
.icon-twitter:before { content: '\e83f'; } /* '' */
.icon-instagram:before { content: '\e840'; } /* '' */
.icon-youtube-let:before { content: '\e841'; } /* '' */
.icon-heart:before { content: '\e874'; } /* '' */
.icon-home:before { content: '\e877'; } /* '' */
.icon-user:before { content: '\e8b4'; } /* '' */
.icon-auth:before { content: '\e8b5'; } /* '' */
.icon-closed:before { content: '\e8b6'; } /* '' */
.icon-home-bt:before { content: '\e8b7'; } /* '' */
.icon-heartl:before { content: '\e8b8'; } /* '' */
.icon-retweet:before { content: '\f02b'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-rocket-1:before { content: '\f135'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-plus-squared:before { content: '\f196'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */